<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous"></script>
<script src="{{ '/dist/activator.jquery.js' | url }}{{ '?v=' + metadata.version }}"></script> -->

<script>
  // Used only on the docs sidebar (below 1024px width)
  const docsScrLock = document.querySelector('.docs-scroll-lock')
  docsScrLock.addEventListener('click', () => {
    if ( window.innerWidth < 1024) {
      document.querySelector('body').classList.add('body-scroll-lock')
    }
  })

  // Used to supplement Alpine modal components
  const scrLock = Array.from(document.querySelectorAll('.scroll-lock'))
  const scrUnlock = Array.from(document.querySelectorAll('.scroll-unlock'))
  scrLock.forEach(el => {
    el.addEventListener('click', () => {
      document.querySelector('body').classList.add('body-scroll-lock')
    })
  })
  scrUnlock.forEach(el => {
    el.addEventListener('click', () => {
      document.querySelector('body').classList.remove('body-scroll-lock')
    })
  })
</script>

</body>
</html>