<script>
  function docsOcState() {
    let windowWidth = window.innerWidth;
    return {
      docsOcIsOpen: false,
      docsOcCloseMdDown() {        
        if (window.innerWidth !== windowWidth) {
          this.docsOcIsOpen = false
        }
      }
    }
  }
</script>

<div
x-data="docsOcState()"
@resize.window="docsOcCloseMdDown()"
>
  <div
    class="backdrop hide-md-up scroll-unlock"
    x-show="docsOcIsOpen"
    @click="docsOcIsOpen = false, $dispatch('docsocclose')"
  ></div>

  <div
    id="docs-menu"
    class="relative bg-color-background br-thin"
    :class="{ 'active': docsOcIsOpen }"
    x-on:docsctoggler.window="docsOcIsOpen = !docsOcIsOpen"
  >
    <div class="sticky hide-md-up bb-thin p-1 t-right bg-color-background" style="z-index: 1; height: 57px;">
      <button
        class="b-0 btn-icon rounded-full scroll-unlock"
        @click="docsOcIsOpen = false, $dispatch('docsocclose')"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
    </div>
    <div class="docs-menu-inner pb-3 overflow-y">
      <div>
        <div class="mt-3 hide-md-up">
          <ul class="menu">
            <li>
              <a href="{{ '/' | url }}">Home</a>
            </li>
            <li>
              <a href="https://github.com/codebase-frontend-library/codebase-4/archive/master.zip">Download</a>
            </li>
            <li>
              <a href="https://github.com/codebase-frontend-library/codebase-4">GitHub</a>
            </li>
          </ul>
          <hr/>
        </div>

        <h4 class="mt-3 px-2 t-thin t-loose">Documentation</h4>

        {% if '1-getting-started' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Getting started</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/1-getting-started/simple-html-setup' | url }}">Simple HTML setup</a></li>
                <li><a href="{{ '/docs/1-getting-started/codebase-scss-library' | url }}">The Codebase SCSS library</a></li>
                <li><a href="{{ '/docs/1-getting-started/alpinejs-or-activator' | url }}">AlpineJS or Activator components</a></li>
                <li><a href="{{ '/docs/1-getting-started/responsive-design' | url }}">Responsive design</a></li>
                <li><a href="{{ '/docs/1-getting-started/light-and-dark-themes' | url }}">Light and dark themes</a></li>
              </ul>
            </div>
          </div>
        </div>

        {% if '/docs/2-codebase-basics/' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Codebase basics</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/2-codebase-basics/element-grid' | url }}">Element grid</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/headings' | url }}">Headings</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/paragraphs' | url }}">Paragraphs</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/simple-text-elements' | url }}">Simple text elements</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/lists' | url }}">Lists</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/details' | url }}">Collapsible details</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/horizontal-rules' | url }}">Horizontal rules</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/blockquotes' | url }}">Blockquotes</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/tables' | url }}">Tables</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/form-elements' | url }}">Form elements</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/images' | url }}">Images</a></li>
                <li><a href="{{ '/docs/2-codebase-basics/audio-and-video' | url }}">Audio and video</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="mt-1 p-block t-loose t-uppercase t-small">Responsive Layouts</div>

        <style>
          .menu.responsive-layouts a {
            display: block;
            padding-left: 2rem;
            font-weight: 600;
          }
          .theme-dark .menu.responsive-layouts a {
            color: #e6e6e6 !important;
          }
          .theme-dark .menu.responsive-layouts a:hover {
            background: #333;
          }
          .theme-light .menu.responsive-layouts a {
            color: #0d0d0d !important;
          }
          .theme-light .menu.responsive-layouts a:hover {
            background: #f2f2f2;
          }
        </style>
        <ul class="menu responsive-layouts">
          <li><a href="{{ '/docs/3-responsive-layouts/containers' | url }}">Containers</a></li>
          <li><a href="{{ '/docs/3-responsive-layouts/bleeds' | url }}">Bleeds</a></li>
          <li><a href="{{ '/docs/3-responsive-layouts/flex' | url }}">Flex system (flexbox)</a></li>
          <li><a href="{{ '/docs/3-responsive-layouts/flex-pseudo-grids' | url }}">Flex pseudo grids</a></li>
          <li><a href="{{ '/docs/3-responsive-layouts/grid' | url }}">Real grid system</a></li>
        </ul>

        <div class="mt-1 p-block t-loose t-uppercase t-small">Utilities</div>

        {% if '4-layout-utilities' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Layout</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/4-layout-utilities/blocks' | url }}">Blocks</a></li>
                <li><a href="{{ '/docs/4-layout-utilities/floats' | url }}">Floats</a></li>
                <li><a href="{{ '/docs/4-layout-utilities/positions' | url }}">Positions</a></li>
                <li><a href="{{ '/docs/4-layout-utilities/dimensions' | url }}">Dimensions</a></li>
                <li><a href="{{ '/docs/4-layout-utilities/overflows' | url }}">Overflows</a></li>
                <li><a href="{{ '/docs/4-layout-utilities/invisibility' | url }}">Invisibility</a></li>
              </ul>
            </div>
          </div>
        </div>

        {% if '5-typographic-utilities' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Typography</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/5-typographic-utilities/inline-text' | url }}">Inline text</a></li>
                <li><a href="{{ '/docs/5-typographic-utilities/headings' | url }}">Headings</a></li>
                <li><a href="{{ '/docs/5-typographic-utilities/text-alignment' | url }}">Text alignment</a></li>
                <li><a href="{{ '/docs/5-typographic-utilities/large-display-text' | url }}">Large display text</a></li>
                <li><a href="{{ '/docs/5-typographic-utilities/long-read-text' | url }}">Long read text</a></li>
                <li><a href="{{ '/docs/5-typographic-utilities/text-columns' | url }}">Text columns</a></li>
              </ul>
            </div>
          </div>
        </div>

        {% if '6-decoration-utilities' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Decoration</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/6-decoration-utilities/spacing' | url }}">Spacing</a></li>
                <li><a href="{{ '/docs/6-decoration-utilities/borders' | url }}">Borders</a></li>
                <li><a href="{{ '/docs/6-decoration-utilities/rounded-corners' | url }}">Rounded corners</a></li>
                <li><a href="{{ '/docs/6-decoration-utilities/box-shadows' | url }}">Box shadows</a></li>
                <li><a href="{{ '/docs/6-decoration-utilities/colors' | url }}">Colors</a></li>
                <li><a href="{{ '/docs/6-decoration-utilities/images' | url }}">Images</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="mt-1 p-block t-loose t-uppercase t-small">Components</div>

        {% if '7-simple-components' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Simple (CSS only)</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/7-simple-components/about-simple-components' | url }}">About simple components</a></li>
                <li><a href="{{ '/docs/7-simple-components/menus' | url }}">Menus</a></li>
                <li><a href="{{ '/docs/7-simple-components/heros' | url }}">Heros</a></li>
                <li><a href="{{ '/docs/7-simple-components/panels' | url }}">Panels</a></li>
                <li><a href="{{ '/docs/7-simple-components/tables' | url }}">Tables</a></li>
                <li><a href="{{ '/docs/7-simple-components/buttons' | url }}">Buttons</a></li>
                <li><a href="{{ '/docs/7-simple-components/badges' | url }}">Badges</a></li>
                <li><a href="{{ '/docs/7-simple-components/labels' | url }}">Labels</a></li>
                <li><a href="{{ '/docs/7-simple-components/media-objects' | url }}">Media objects</a></li>
                <li><a href="{{ '/docs/7-simple-components/cards' | url }}">Cards</a></li>
              </ul>
            </div>
          </div>
        </div>

        {% if '8-alpinejs-components' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Using AlpineJS</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/8-alpinejs-components/about-alpinejs-components' | url }}">About AlpineJS components</a></li>
                <li><a href="{{ '/docs/8-alpinejs-components/alpinejs-showhides' | url }}">Showhides</a></li>
                <li><a href="{{ '/docs/8-alpinejs-components/alpinejs-dropdowns' | url }}">Dropdowns</a></li>
                <li><a href="{{ '/docs/8-alpinejs-components/alpinejs-modals' | url }}">Modals</a></li>
                <li><a href="{{ '/docs/8-alpinejs-components/alpinejs-offcanvas' | url }}">Offcanvas</a></li>
                <li><a href="{{ '/docs/8-alpinejs-components/alpinejs-tabs' | url }}">Tabs</a></li>
                <li><a href="{{ '/docs/8-alpinejs-components/alpinejs-accordions' | url }}">Accordions</a></li>
                <li><a href="{{ '/docs/8-alpinejs-components/alpinejs-slideshows' | url }}">Slideshows</a></li>
              </ul>
            </div>
          </div>
        </div>

        {% if '9-activator-components' in page.url %}
        <div x-data="{ revealed: true }">
        {% else %}
        <div x-data="{ revealed: false }">
        {% endif %}
          <button
            class="block b-0 unrounded p-1"
            @click="revealed = !revealed"
          >
            <div class="flex">
              <svg x-show="!revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
              <svg x-show="revealed" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 9 12 15 18 9" /></svg>
              <span>Using Activator</span>
            </div>
          </button>
          <div
            class="overflow-hidden max-height-0"
            x-ref="panel"
            x-bind:style="revealed == true ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : ''">
            <div class="px-2">
              <ul class="menu">
                <li><a href="{{ '/docs/9-activator-components/about-activator-components' | url }}">About Activator components</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-classes-and-attributes' | url }}">Activator classes and attributes</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-showhides' | url }}">Showhides</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-dropdowns' | url }}">Dropdowns</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-modals' | url }}">Modals</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-offcanvas' | url }}">Offcanvas</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-tabs' | url }}">Tabs</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-accordions' | url }}">Accordions</a></li>
                <li><a href="{{ '/docs/9-activator-components/activator-slideshows' | url }}">Slideshows</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>