<div id="top-nav" class="w-full flex flex-space-between bb-thin p-1 bg-color-background">
  <div class="flex flex-row-reverse flex-middle">
    <div>
      <a id="site-title" class="codebase-docs p-block t-decoration-none t-loose" href="{{ '/' | url }}">
        <!-- Codebase logo-->
        <svg viewBox="0 0 340 180" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="2">
          <path d="M195.956 115.956c14.059-14.059 36.853-14.059 50.912 0 14.058 14.059 14.058 36.853 0 50.912L323.235 90.5l-76.367-76.368c14.058 14.059 14.058 36.853 0 50.912-14.059 14.059-36.853 14.059-50.912 0-14.059-14.059-36.853-14.059-50.912 0-14.059 14.059-14.059 36.853 0 50.912 14.059 14.059 36.853 14.059 50.912 0M17.765 90.5l76.367-76.368c-42.176 42.177-42.176 110.559 0 152.736L17.765 90.5z" fill-rule="nonzero" fill="currentColor" stroke="currentColor" stroke-width="10"/>
        </svg>
        Codebase
      </a>
    </div>

    <script>
      function docsOc() {
        return {
          docsOcOpen: false,
          docsOcState() {
            let windowWidth = window.innerWidth;
            if (windowWidth < 1024) {
              this.docsOcOpen = false;
            } else {
              this.docsOcOpen = true;
            }
          }
        }
      }

      let resizeResetHeader = () => {
        window.addEventListener('resize', () => {
          let xData = document.querySelector('[x-data]');
          return xData.__x.$data.headerOffcanvas = false;
        });
      }
      resizeResetHeader();
    </script>

    <div
      x-data="docsOc()"
      @load.window="docsOcState()"
      @resize.window="docsOcState()"
    >
      <button
        id="hamburger"
        aria-label="Main menu"
        aria-owns="docs-menu"
        class="b-0 btn-icon rounded-full docs-scroll-lock"
        aria-expanded="false"
        :aria-expanded="docsOcOpen ? 'true' : 'false'"
        x-on:docsOcclose.window="docsOcOpen = !docsOcOpen"
        @click="{docsOcOpen = !docsOcOpen, $dispatch('docsctoggler')}"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
      </button>
    </div>
  </div>

  <ul class="menu flex flex-middle">
    <li class="hide-below-md">
      <a href="{{ '/' | url }}">Home</a>
    </li>
    <li class="hide-below-md">
      <a href="{{ '/codebase-4/docs/1-getting-started/simple-html-setup/' | url }}">Documentation</a>
    </li>
    <li class="hide-below-md">
      <a href="https://github.com/codebase-frontend-library/codebase-4/archive/master.zip">Download</a>
    </li>
    <li class="hide-below-md">
      <a href="https://github.com/codebase-frontend-library/codebase-4">GitHub</a>
    </li>
    <li>
      <a class="theme-toggle">
        <span class="theme-sun flex flex-middle" style="margin-top: -2px; margin-bottom: -2px;">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="12" cy="12" r="4" />
            <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
          </svg>
          <span class="hide-below-md">Light Theme</span>
        </span>
        <span class="theme-moon flex flex-middle">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-moon-stars" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
            <path d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2" />
            <path d="M19 11h2m-1 -1v2" />
          </svg>
          <span class="hide-below-md">Dark Theme</span>
        </span>
      </a>
    </li>
  </ul>
</div>