// LAYOUT: FULL BLEEDS
// ~~~~~~~~~~~~~~~~~~~

// From: https://hankchizljaw.com/wrote/creating-a-full-bleed-css-utility/

.full-bleed { 
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

// Based on https://joshwcomeau.com/css/full-bleed/

.container-grid-full-bleed {
  width: 100%;
  grid-column: 1/6;
}

.container-grid-partial-bleed-left {
  grid-column: 1/4;
}

.container-grid-partial-bleed-right {
  grid-column: 3/6;
}