// LAYOUT: CONTAINERS
// ~~~~~~~~~~~~~~~~~~

.container {
  display: block;
  width: 100%;
  max-width: $width-max;
  margin: 0 auto;
  padding: $container-padding;
  &-lg {
    max-width: $width-lg;
  }
  &-md {
    max-width: $width-md;
  }
  &-sm {
    max-width: $width-sm;
  }
}

// Based on https://joshwcomeau.com/css/full-bleed/
.container-grid {
  display: grid;
  width: 100%;
  grid-template-columns: $container-grid-max;
}
.container-grid > * {
  grid-column: 3;
  width: 100%;
}
.container-grid-lg {
  grid-template-columns: $container-grid-lg;
}
.container-grid-md {
  grid-template-columns: $container-grid-md;
}
.container-grid-sm {
  grid-template-columns: $container-grid-sm;
}