// UTILITIES: BOX SHADOWS
// ~~~~~~~~~~~~~~~~~~~~~~

.bs-1 {
  box-shadow: 
  0 1px 4px rgba(0, 0, 0, 0.35), 
  0 8px 8px -2px rgba(0,0,0,0.1);
}

.bs-2, .bs {
  box-shadow:
  0 4px 8px -4px rgba(0, 0, 0, 0.5),
  0 8px 24px -3px rgba(0,0,0,0.2),
  0 16px 36px -2px rgba(0,0,0,0.1);
}

.bs-3 {
  box-shadow:
  0 2px 4px -2px rgba(0, 0, 0, 0.35),
  0 16px 24px rgba(0,0,0,0.2),
  0 16px 36px 4px rgba(0,0,0,0.1);
}