// UTILITIES: LAYOUT
// ~~~~~~~~~~~~~~~~~

.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.block:not(.btn) {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
  width: unset;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.overflow-y {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.overflow-x,
.overflow-y {
  scroll-snap-align: start;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

@mixin sticky {
  position: sticky;
  top: 0;
  &-gap-top {
    top: $sticky-gap;
  }
  &-gap-bottom {
    bottom: $sticky-gap;
  }
}
.sticky {
  @include sticky;
}

.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

@include break-min($mq-sm) {
  .float-sm {
    &-left {
      float: left;
    }
    &-right {
      float: right;
    }
  }  
  .sticky-sm {
    @include sticky;
  }
  .fixed-sm {
    position: fixed;
  }
  .absolute-sm {
    position: absolute;
  }
  .relative-sm {
    position: relative;
  }
  .top-sm {
    top: 0
  }
  .right-sm {
    right: 0;
  }
  .bottom-sm {
    bottom: 0;
  }
  .left-sm {
    left: 0;
  }
}
@include break-min($mq-md) {
  .float-md {
    &-left {
      float: left;
    }
    &-right {
      float: right;
    }
  }  
  .sticky-md {
    @include sticky;
  }
  .fixed-md {
    position: fixed;
  }
  .absolute-md {
    position: absolute;
  }
  .relative-md {
    position: relative;
  }
  .top-md {
    top: 0
  }
  .right-md {
    right: 0;
  }
  .bottom-md {
    bottom: 0;
  }
  .left-md {
    left: 0;
  }
}
@include break-min($mq-lg) {
  .float-md {
    &-left {
      float: left;
    }
    &-right {
      float: right;
    }
  }  
  .sticky-lg {
    @include sticky;
  }
  .fixed-md {
    position: fixed;
  }
  .absolute-md {
    position: absolute;
  }
  .relative-lg {
    position: relative;
  }
  .top-lg {
    top: 0
  }
  .right-lg {
    right: 0;
  }
  .bottom-lg {
    bottom: 0;
  }
  .left-lg {
    left: 0;
  }
}

.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-backdrop;
  &-shaded {
    background: $color-backdrop;
    backdrop-filter: blur(5px);
  }
  &-black {
    background: #000;
  }
}

.w {
  &-xxs {
    width: 100%;
    max-width: $width-xxs;
  }
  &-xs {
    width: 100%;
    max-width: $width-xs;
  }
  &-sm {
    width: 100%;
    max-width: $width-sm;
  }
  &-md {
    width: 100%;
    max-width: $width-md;
  }
  &-lg {
    width: 100%;
    max-width: $width-lg;
  }
  &-xl {
    width: 100%;
    max-width: $width-xl;
  }
  &-xxl {
    width: 100%;
    max-width: $width-xxl;
  }
  &-full {
    width: 100%;
  }
  &-auto {
    width: auto;
  }
}

.h-half-vh {
  min-height: 400px; // fallback for old browsers
  min-height: 50vh;
}
.h-full-vh {
  min-height: 800px; // fallback for old browsers
  min-height: 100vh;
}

.h-full {
  height: 100%;
}

.max-height-0 { // e.g. used for AlpineJS powered showhide
  max-height: 0;
}


.square {
  min-width: $square-size;
  width: $square-size;
  min-height: $square-size;
  height: $square-size;
  &-sm {
    min-width: $square-size-sm;
    width: $square-size-sm;
    min-height: $square-size-sm;
    height: $square-size-sm;
  }
  &-md {
    min-width: $square-size;
    width: $square-size;
    min-height: $square-size;
    height: $square-size;
  }
  &-lg {
    min-width: $square-size-lg;
    width: $square-size-lg;
    min-height: $square-size-lg;
    height: $square-size-lg;
  }
}