// UTILITIES: MARGINS
// ~~~~~~~~~~~~~~~~~~

@each $key, $value in $spacing {

  // All
  .m-#{$key} {
    margin: $value;
  }

  // Top
  .mt-#{$key} {
    margin-top: $value;
  }

  // Right
  .mr-#{$key} {
    margin-right: $value;
  }

  // Bottom
  .mb-#{$key} {
    margin-bottom: $value;
  }

  // Left
  .ml-#{$key} {
    margin-left: $value;
  }

  // Vertical (Top and Bottom)
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  // Horizontal (Right and Left)
  .mx-#{$key} {
    margin-right: $value;
    margin-left: $value;
  }
}

// Horizontal Centering by `margin: auto`
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

// Responsive panels (negative 2vw x-axis margins, and positive 2vw padding (all))
.panel-responsive {
  position: relative;
  width: calc(100% + 4vw);
  margin-right: -2vw;
  margin-left: -2vw;
  padding: 2vw;
}

// Responsive vertical margins
.my-responsive {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-top: $spacing-responsive;
  margin-bottom: $spacing-responsive;
}

.mt-responsive {
  margin-top: 48px;
  margin-top: $spacing-responsive;
}

.mb-responsive {
  margin-bottom: 48px;
  margin-bottom: $spacing-responsive;
}
