// BASICS: BASE (resets and other stuff)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  font-size: $text-base-font-size;
  font-family: $text-base-font-family; // sets 1rem
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  font-kerning: normal;
  text-rendering: optimizeSpeed;
  line-height: $text-base-line-height;
  color: $color-text;
  background: $color-background;
}

*:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

*:focus:not(.focus-visible) {
  outline: none;
}

*::selection {
  background: $color-selection;
}

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

// For base button styles see 01_basics/_form-elements

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: block;
  width: 100%;
}

iframe {
  border: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

[type="number"] {
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

summary {
  display: list-item;
}

.body-scroll-lock {
  touch-action: none;
  overflow: hidden;
}